<div style="text-align:center">
    <h2 class="jumbotron bg-secondary text-white">Register</h2>
</div>
<div class="listpgWraper">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="userccount">
                <div class="topnav">
                    <a class="col-6" routerLink="/clients" routerLinkActive="active">Candidate</a>
                    <a class="col-6" routerLink="/employer" routerLinkActive="active">Employer</a>
                </div>
                <br/>
                <router-outlet></router-outlet>
              </div>
             <br/>
          </div>
       </div>
   </div>
</div>
  